@import '../../utils/variables';

.root {
  width: 250px;
  margin: 0 auto;
  padding: 10px;
  border-radius: $borderRadius;
  background-color: $sectionBGColor;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  a {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $orange;
    background-color: #fff;

    border: 1px solid $orange;
    border-radius: 50%;
    cursor: pointer;
    transition: color .2s linear, background-color .2s linear;

    &:hover {
      background-color: $orange;
  
      color: #fff;
    }
  }

  :global {
    .selected {
      a {
        background-color: $orange;
    
        color: #fff;
      }
    }

    .disabled {
      a {
        opacity: .3;
        cursor: default;
    
        &:hover {
          color: $orange;
          background-color: #fff;
        }
      }
    }
  }
}