@import '../../utils/variables';

.categories {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
      /* @include noselect(); */

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
      
    @media screen and (max-width: 820px) {
      gap: 5px;

      li {
        padding: 7px 15px;
      }
    }
      
    @media screen and (max-width: 442px) {
      gap: 5px;
  
      li {
        padding: 4px 10px;
        font-size: 14px;
      }
    }
  }
}
