@import '../../utils/variables';

.root {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: $borderRadius;
  background-color: $sectionBGColor;

  h2 {
    font-size: 24px;
    text-align: center;
  }

  img {
    height: 42vh;
    object-fit: contain;
  }

  @media screen and (max-width: 442px) {
    h2 {
      font-size: 16px;
    }
  }
}