@import '../../utils/variables';

body {
  background-color: $background;
  background-image: url('../../images/pizza-morty-fun.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 442px;
  padding: 20px 15px 120px;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1400px;
}

.content {
  padding: 15px 0;
  box-sizing: border-box;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__title {
    padding: 35px;
    position: sticky;
    top: 10px;
    z-index: 1;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
      
    border-radius: $borderRadius;
    background-color: $sectionBGColor;

  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    
    border-radius: $borderRadius;
    background-color: $sectionBGColor;
    padding: 20px;
  }
}

@media screen and (max-width: 820px) {
  .content {

    &__title {
      padding: 20px;

      h2 {
        font-size: 24px;
      }
    }
  }
}

.container {
  width: $container-width;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px 0;
  z-index: 1;

  &--cart {
    max-width: 820px;
    margin: 0 auto;
    .content__title {
      margin: 0;
    }
  }
}

