@import '../utils/variables';

.cart {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content__title {
    display: flex;
    align-items: center;
    font-size: 32px;

    svg {
      position: relative;
      top: -2px;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      path {
        stroke: $black;
        stroke-width: 1.9;
      }
    }
  }

  .content__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__clear {
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    /* @include noselect(); */

      background-color: $sectionBGColor;
      border-radius: $borderRadius;
      padding: 5px;

      svg {
        width: 30px;
        height: 30px;

        path {
          stroke: $black;
        }
      }

    span {
      display: inline-block;
      margin-left: 7px;
      color: #b6b6b6;
      font-size: 18px;
    }

    span,
    svg,
    path {
      transition: all $duration ease-in-out;
    }

    &:hover {
      svg {
        path {
          stroke: lighten($color: #b6b6b6, $amount: 0);
        }
      }
      span {
        color: lighten($color: #b6b6b6, $amount: 0);
      }
    }
  }

  &__bottom {
    padding: 20px;
    background-color: $sectionBGColor;
    border-radius: $borderRadius;

    &-details {
      display: flex;
      justify-content: space-between;

      span {
        font-size: 22px;

        &:last-of-type {
          b {
            color: $orange;
          }
        }
      }
    }

    &-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;

      .go-back-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;

        border-color: darken($color: $gray-line, $amount: 10);

        span {
          color: darken($color: $gray-line, $amount: 20);
          font-weight: 500;
          font-weight: 600;
        }

        &:hover {
          background-color: darken($color: $gray-line, $amount: 90);
          border-color: darken($color: $gray-line, $amount: 90);

          span {
            color: $gray-line;
          }
        }

        svg {
          margin-right: 12px;
          path {
            fill: transparent;
            stroke-width: 2;
          }
        }
      }

      .pay-btn {
        font-size: 16px;
        font-weight: 600;
        width: 210px;
        padding: 16px;
      }
    }
  }

  &--empty {
    margin: 0 auto;
    width: 100%;
    max-width: 560px;
    text-align: center;
    background-color: $sectionBGColor;
    border-radius: $borderRadius;
    padding: 5px;

    h2 {
      font-size: 32px;
      margin-bottom: 10px;

      @media screen and (max-width: 442px) {
        font-size: 16px;
      }
    }

    p {
      font-size: 18px;
      line-height: 145.4%;
      letter-spacing: 0.01em;
      color: #777777;

      @media screen and (max-width: 442px) {
        font-size: 10px;
      }
    }

    icon {
      position: relative;
      top: 2px;
    }

    img {
      display: block;
      max-width: 300px;
      width: 100%;
      margin: 45px auto 60px;

      @media screen and (max-width: 442px) {
        margin: 25px auto 0;
      }
    }

    .button--black {
      padding: 12px 0 14px;
      max-width: 230px;
      width: 100%;
      margin: 0 auto;
      font-weight: 600;
      font-size: 18px;
    }
  }
}
